<a href="https://colab.research.google.com/github/Ronith2205/P-S-2025/blob/main/P%26S_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# 1. Creating and Manipulating Arrays
# 1D Array
a = [1, 2, 34, 6, 32, 14, 65, 7]
arr = np.array(a)
print("1D Array:", arr)
print("First element:", arr[0])
print("Third element:", arr[2])


aa = [[1, 2, 3, 4], [4, 2, 3, 6]]
A = np.array(aa)
print("\n2D Array:\n", A)
print("Shape:", np.shape(A))
print("Size:", np.size(A))
print("Dimensions:", np.ndim(A))


print("\nFirst row:", A[0, :])
print("Second column:", A[:, 1])
print("Element at row 1, column 2:", A[1, 2])

# 2. Creating and Manipulating DataFrames

Dataset = {
    "State": ['Andhra Pradesh', 'Maharashtra', 'Karnataka', 'Kerala', 'Tamil Nadu'],
    "Capital": ['Hyderabad', 'Mumbai', 'Bengaluru', 'Trivandrum', 'Chennai'],
    "Literacy %": [89, 77, 82, 97, 85],
    "Avg High Temp(c)": [33, 30, 29, 31, 32]
}
df = pd.DataFrame(Dataset)
print("\nDataFrame:\n", df)
print("\nFirst 2 entries:\n", df.head(2))
print("\nLast 3 entries:\n", df.tail(3))
print("\nData types:\n", df.dtypes)


print("\nSelected columns:\n", df[['State', 'Capital']])
print("\nAccess row by index:\n", df.iloc[2])
print("\nAccess row by label:\n", df.loc[2])


data = [15, 13, 16, 16, 15, 16, 17, 14, 15, 16, 16, 17, 14, 17, 17, 16, 14, 15, 16, 17, 14, 16, 15, 17, 13]
df_freq = pd.DataFrame({"Distance": data})
freq_table = pd.crosstab(index=df_freq['Distance'], columns='Frequency')
freq_table['Relative_Frequencies'] = freq_table['Frequency'] / freq_table['Frequency'].sum()
freq_table['Percentage'] = freq_table['Relative_Frequencies'] * 100
print("\nFrequency Table:\n", freq_table)


scores = [328, 470, 405, 375, 298, 326, 276, 362, 410, 255, 391, 370, 455, 229, 300, 183,
          283, 366, 400, 495, 215, 157, 374, 306, 280, 409, 321, 269, 398, 200]
bins = np.linspace(min(scores), max(scores), num=8)
df_scores = pd.DataFrame({"Score": scores})
df_scores['Class Intervals'] = pd.cut(df_scores['Score'], bins)
freq_distribution = pd.crosstab(index=df_scores['Class Intervals'], columns='Frequency')
print("\nContinuous Frequency Distribution:\n", freq_distribution)

1D Array: [ 1  2 34  6 32 14 65  7]
First element: 1
Third element: 34

2D Array:
 [[1 2 3 4]
 [4 2 3 6]]
Shape: (2, 4)
Size: 8
Dimensions: 2

First row: [1 2 3 4]
Second column: [2 2]
Element at row 1, column 2: 3

DataFrame:
             State     Capital  Literacy %  Avg High Temp(c)
0  Andhra Pradesh   Hyderabad          89                33
1     Maharashtra      Mumbai          77                30
2       Karnataka   Bengaluru          82                29
3          Kerala  Trivandrum          97                31
4      Tamil Nadu     Chennai          85                32

First 2 entries:
             State    Capital  Literacy %  Avg High Temp(c)
0  Andhra Pradesh  Hyderabad          89                33
1     Maharashtra     Mumbai          77                30

Last 3 entries:
         State     Capital  Literacy %  Avg High Temp(c)
2   Karnataka   Bengaluru          82                29
3      Kerala  Trivandrum          97                31
4  Tamil Nadu     Chennai          85                32

Data types:
 State               object
Capital             object
Literacy %           int64
Avg High Temp(c)     int64
dtype: object

Selected columns:
             State     Capital
0  Andhra Pradesh   Hyderabad
1     Maharashtra      Mumbai
2       Karnataka   Bengaluru
3          Kerala  Trivandrum
4      Tamil Nadu     Chennai

Access row by index:
 State               Karnataka
Capital             Bengaluru
Literacy %                 82
Avg High Temp(c)           29
Name: 2, dtype: object

Access row by label:
 State               Karnataka
Capital             Bengaluru
Literacy %                 82
Avg High Temp(c)           29
Name: 2, dtype: object

Frequency Table:
 col_0     Frequency  Relative_Frequencies  Percentage
Distance
13                2                  0.08         8.0
14                4                  0.16        16.0
15                5                  0.20        20.0
16                8                  0.32        32.0
17                6                  0.24        24.0

Continuous Frequency Distribution:
 col_0               Frequency
Class Intervals
(157.0, 205.286]            2
(205.286, 253.571]          2
(253.571, 301.857]          7
(301.857, 350.143]          4
(350.143, 398.429]          7
(398.429, 446.714]          4
(446.714, 495.0]            3